.measurement {
  flex-basis: 50%;
  flex-direction: row;
  margin-top: 8px;
  color: @text-color;

  &__reading,
  &__description {
    text-align: center;
    font-weight: 300;
  }

  &__reading {
    font-size: @font-size + 1pt;
  }

  &__norm {
    font-size: @font-size - 2pt;
    color: @text-color;

    &.treshold {
      &-0 {
        color: @caqi-1;
      }
      &-1 {
        color: @caqi-2;
      }
      &-2 {
        color: @caqi-3;
      }
      &-3 {
        color: @caqi-4;
      }
      &-4 {
        color: @caqi-5;
      }
      &-5 {
        color: @caqi-5;
      }
    }
  }

  &__unit {
    display: inline;

    &::before {
      content: '';
      white-space: pre;
    }
  }

  &__description {
    text-transform: uppercase;
    color: #666;
    font-size: @font-size - 2pt;
  }
}
