@import "../../variables";

.measurement {
  flex-basis: 50%;
  flex-direction: row;

  margin-top: 8px;

  .reading, .description {
    text-align: center;
  }

  .reading {
    font-size: @font-size + 3pt;
    font-weight: 300;
    color: @text-color;
  }

  .description {
    text-transform: uppercase;
    color: #666;
    font-size: @font-size - 2pt;
    font-weight: 300;
  }
}
