@import "Loader";
@import "measurement/index";

a.link {
  cursor: pointer;
  font-weight: 400;
  color: @text-color;
  text-decoration: none;

  span {
    cursor: pointer;
  }
}

.air-quality {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__caqi, &__label, &__summary, &__description {
    .summary;
  }

  &__label, &__description {
    text-align: right;
  }

  &__label {
    .quality {
      &-0 {
        color: #6bc926;
      }
      &-1 {
        color: #d1cf1e;
      }
      &-2 {
        color: #efbb0f;
      }
      &-3 {
        color: #ef7120;
      }
      &-4 {
        color: #ef2a36;
      }
    }
  }

  &__caqi {
    flex: 1;

    .measurement {
      margin-right: 16px;
    }
  }

  &__summary {
    flex: 4;
    flex-direction: column;
  }

  &__description {
    margin-top: 4px;
    font-size: @font-size - 2pt;
    text-align: justify;
  }
}

.offline-info {
  .summary;

  &__header {
    font-size: @font-size;
    font-weight: 500;
  }
}

.available-update {
  .summary;
  font-size: @font-size - 2pt;

  margin-top: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #dff0d8;

  a {
    font-weight: 300;
  }
}

.measurement-pane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

.station-info {
  .summary;
  font-size: @font-size - 2pt;
}

.toolbar-footer__footer-text {
  margin-top: 10px;
  padding-left: 10px;
  font-size: @font-size - 4px;
  font-weight: 300;
  float: left;
}
