@import 'Loader';
@import 'measurement/index';
@import 'air-quality/index';

.error-message {
  .summary;

  &__header {
    font-size: @font-size;
    font-weight: 500;
  }
}

.available-update {
  .summary;
  font-size: @font-size - 2pt;

  margin-top: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #dff0d8;

  a {
    font-weight: 300;
  }
}

.station-info {
  .summary;
  font-size: @font-size - 3pt;
  color: #theme.light.text.color() [secondary];

  .dark-theme & {
    color: #theme.dark.text.color() [secondary];
  }

  a.link {
    color: #theme.light.text.color() [secondary];

    .dark-theme & {
      color: #theme.dark.text.color() [secondary];
    }
  }
}

.toolbar-footer {
  &__footer-text {
    margin-top: 10px;
    padding-left: 10px;
    font-size: @font-size - 4px;
    font-weight: 300;
    float: left;
  }
}

.tray-window {
  background: transparent;

  &.window {
    .toolbar {
      box-shadow: none;
      background: transparent;

      .btn-default {
        &.active {
          border-color: #theme.light.border() [color];
        }
      }
    }
    &.dark-theme {
      .toolbar {
        border-color: #theme.dark.footer.border.color() [primary];
        color: #theme.dark.text.color() [primary];
        background-color: #theme.dark.background.color() [primary];
        background-image: linear-gradient(
          to bottom,
          #theme.dark.footer.gradient.color() [top] 0%,
          #theme.dark.footer.gradient.color() [bottom] 100%
        );
      }

      .btn-default {
        color: #theme.dark.button.text() [color];
        background-color: #theme.dark.background.color() [primary];
        background-image: linear-gradient(
          to bottom,
          #theme.dark.button.gradient.color() [top] 0%,
          #theme.dark.button.gradient.color() [bottom] 100%
        );
        border-color: #theme.dark.border() [color];

        .icon {
          color: #theme.dark.button.text() [color];
        }

        &:active {
          background-color: #theme.dark.background.color() [secondary];
          background-image: none;
        }

        &.active {
          border-color: #theme.dark.border() [color];
          background-color: #theme.dark.background.color() [primary];
          background-image: none;
        }
      }
    }
  }
}
