@import 'variables';
@import 'common';
@import 'tray-window/index';
@import 'preferences-window/index';

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSDisplay-Regular',
    'Helvetica Neue', Helvetica, sans-serif;
}

.tray-window {
  &.window {
    .toolbar {
      box-shadow: none;
    }

    .window-content {
      background-color: @background-color;
      border-right: @border;
      border-left: @border;
    }
  }
}

.error-message {
  .summary;

  &__header {
    color: @text-color-error;
    font-weight: 500;
  }
}
