@font-size: 10pt;
@window-border-radius: 6px;
@base-spacing: 8px;

#theme() {
  .light() {
    .text() {
      .color() {
        primary: rgb(36, 36, 36);
        secondary: rgb(126, 126, 126);
        error: rgb(204, 0, 0);
        link: rgb(38, 120, 219);
      }
    }
    .background() {
      .color() {
        primary: rgb(227, 227, 227);
        secondary: rgb(236, 236, 236);
      }
    }
    .border() {
      color: rgb(215, 215, 215);
      size: 1px;
      style: solid;
    }
    .section-line() {
      .color() {
        primary: rgb(213, 213, 213);
      }
    }
    .header() {
      .border() {
        .color() {
          primary: rgb(178, 178, 178);
        }
      }
    }
    .footer() {
      .border() {
        .color() {
          primary: rgb(236, 236, 236);
        }
      }
      .gradient() {
        .color() {
          top: rgb(240, 240, 240);
          bottom: rgb(210, 210, 210);
        }
      }
    }
    .aq-index() {
      caqi-1: rgb(30, 195, 55);
      caqi-2: rgb(187, 207, 76);
      caqi-3: rgb(245, 194, 0);
      caqi-4: rgb(245, 139, 0);
      caqi-5: rgb(245, 49, 38);
    }
  }
  .dark() {
    .text() {
      .color() {
        primary: rgb(224, 224, 224);
        secondary: rgb(141, 141, 141);
        error: rgb(204, 0, 0);
        link: rgb(63, 142, 229);
      }
    }
    .background() {
      .color() {
        primary: rgb(56, 56, 56);
        secondary: rgb(50, 50, 50);
      }
    }
    .border() {
      color: rgb(76, 76, 76);
      size: 1px;
      style: solid;
    }
    .section-line() {
      .color() {
        primary: rgb(70, 70, 70);
        secondary: rgb(74, 74, 74);
      }
    }
    .header() {
      .border() {
        .color() {
          primary: rgb(18, 18, 18);
        }
      }
    }
    .footer() {
      .border() {
        .color() {
          primary: rgb(103, 103, 103);
        }
      }
      .gradient() {
        .color() {
          top: rgb(70, 70, 70);
          bottom: rgb(60, 60, 60);
        }
      }
    }
    .button() {
      .text() {
        color: rgb(218, 218, 218);
      }
      .background() {
        color: rgb(106, 106, 106);
      }
      .gradient() {
        .color() {
          top: rgb(110, 110, 110);
          bottom: rgb(100, 100, 100);
        }
      }
    }
    .select() {
      .background() {
        color: rgb(101, 101, 101);
      }
      .border() {
        color: rgb(119, 119, 119);
      }
    }
    .aq-index() {
      caqi-1: rgb(60, 225, 85);
      caqi-2: rgb(187, 207, 76);
      caqi-3: rgb(255, 224, 20);
      caqi-4: rgb(255, 169, 20);
      caqi-5: rgb(255, 79, 68);
    }
  }
}
